* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button {
    background-color: hsl(39, 77%, 83%);
    color: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.4rem;
    border: 0;
}

.body {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(56, 38%, 58%);
    padding: 1rem;
    border: 1px solid hsl(39, 77%, 83%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 800px;
    height: fit-content;
}

.grid {
    padding: 1rem;
}

.board {
    padding: 1rem;
    display: block;
}

.board {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3) inset;
    background-color: hsl(56, 38%, 70%);
}



.smallboard {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3) inset;
    background-color: hsl(56, 38%, 70%);
}

.grid {
    border: 0.01px solid hsl(39, 77%, 83%);
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.control {
    padding: 1rem;
    width: 100%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    position: relative;
}


.pen_choice {
    position: absolute;
    bottom: 16px;
    left: 15%;
    background-color: hsl(56, 38%, 58%);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    padding: 0.3rem;
}

.white_pen,
.black_pen {
    margin: 0.3rem;
}
.white_pen{
    background-color: #333;
    color: #f8f8ff;
}
.black_pen{
    background-color: #f8f8ff;
    columns: #333;
}
.visibility{
    display: none;
    visibility: hidden;
}